@using BlazorTextEditor.ClassLib.Context
@using BlazorTextEditor.ClassLib.Dropdown
@using BlazorTextEditor.RazorLib.Dropdown

<ContextBoundary ContextRecord="ContextFacts.MainLayoutHeaderContext"
                 ClassCssString="bte_header">

    <BlazorTextEditor.RazorLib.Settings.SettingsDialogEntryPoint />
    
    <div style="position: relative;">
        <button @onclick="AddActiveVerticalDropdown"
                class="btn btn-primary">
            Vertical Dropdown
        </button>
        
        <DropdownDisplay DropdownKey="_dropdownKeyVerticalDropdown"
                         DropdownPositionKind="DropdownPositionKind.Vertical">
            <div class="bte_dropdown-display-default-background">
                Vertical ChildContent    
            </div>
        </DropdownDisplay>
    </div>
    
    <div style="position: relative;">
        <button @onclick="AddActiveHorizontalDropdown"
                class="btn btn-primary">
            Horizontal Dropdown
        </button>
        
        <DropdownDisplay DropdownKey="_dropdownKeyHorizontalDropdown"
                         DropdownPositionKind="DropdownPositionKind.Horizontal">
            <div class="bte_dropdown-display-default-background">
                Horizontal ChildContent    
            </div>
        </DropdownDisplay>
    </div>
    
    <ActiveContextRecordsDisplay />
</ContextBoundary>