@using BlazorTextEditor.ClassLib.TextEditor
@inherits LayoutComponentBase


<div class="bte_main-layout @UnselectableClassCss">
    <BlazorTextEditor.RazorLib.BlazorTextEditorRazorLibInitializer />
    <BlazorTextEditor.RazorLib.DialogCase.DialogInitializer />
    <BlazorTextEditor.RazorLib.DragCase.DragDisplay />
    
    @nameof(MainLayout)&nbsp;rendered:&nbsp;@_renderCount&nbsp;times
    <br/>
    
    _message:&nbsp;<input @bind="_message" />
    
    <button class="btn btn-primary"
            @onclick="OpenDialogOnClick">
        Open Dialog
    </button>
    
    
    <BlazorTextEditor.RazorLib.TextEditor.TextEditorDisplay TextEditorKey="TextEditorFacts.TextEditorKeyCodeTest"/>
    <BlazorTextEditor.RazorLib.TextEditor.TextEditorDisplay TextEditorKey="TextEditorFacts.TextEditorKeyEmailTest"/>
    <BlazorTextEditor.RazorLib.TextEditor.TextEditorDisplay TextEditorKey="TextEditorFacts.TextEditorKeyEmptyTest"/>

    <BlazorTextEditor.RazorLib.CounterCase.CounterDisplay/>
    <BlazorTextEditor.RazorLib.CounterCase.CounterDisplay/>
    <BlazorTextEditor.RazorLib.CounterCase.CounterDisplay/>
    <BlazorTextEditor.RazorLib.CounterCase.CounterDisplay/>
</div>