@using BlazorTextEditor.ClassLib.TextEditor
@inherits LayoutComponentBase

<div class="bte_main-layout @UnselectableClassCss">
    <BlazorTextEditor.RazorLib.BlazorTextEditorRazorLibInitializer />
    <BlazorTextEditor.RazorLib.DialogCase.DialogInitializer />
    <BlazorTextEditor.RazorLib.DragCase.DragDisplay />
    
    <BlazorTextEditorHeader />
    
    <BlazorTextEditorBody BodyElementDimensions="_bodyElementDimensions" />
    
    <BlazorTextEditor.RazorLib.ResizableCase.ResizableRow TopElementDimensions="_bodyElementDimensions"
                                                          BottomElementDimensions="_footerElementDimensions"
                                                          ReRenderFuncAsync="ReRenderAsync" />
    
    <BlazorTextEditorFooter FooterElementDimensions="_footerElementDimensions" />
</div>