@using BlazorTextEditor.RazorLib.TreeView
@using BlazorTextEditor.ClassLib.Context

<ContextBoundary ContextRecord="ContextFacts.FolderExplorerContext"
                 ClassCssString="bte_folder-explorer-display"
                 StyleCssString="@FolderExplorerElementDimensions.StyleString">
    <div class="bte_section-title">
        Folder Explorer
    </div>

    <input @bind="_filePath" @bind:event="oninput"/>

    <button class="btn btn-primary"
            @onclick="DispatchSetFolderExplorerStateOnClick">

        Open In Folder Explorer
    </button>

    <div>
        @if (_rootTreeViewModel is not null)
        {
            <TreeViewDisplay TreeViewModel="_rootTreeViewModel">
                <ItemRenderFragment Context="treeViewModel">
                    @treeViewModel.Item.FilenameWithExtension
                </ItemRenderFragment>
            </TreeViewDisplay>
        }
    </div>
</ContextBoundary>