@using BlazorTextEditor.ClassLib.TextEditor

<div class="bte_editor-display"
     style="@EditorElementDimensions.StyleString">
    <BlazorTextEditor.RazorLib.TextEditor.TextEditorDisplay TextEditorKey="TextEditorFacts.TextEditorKeyCodeTest"/>    
</div>
