@using BlazorTextEditor.ClassLib.TextEditor
@using BlazorTextEditor.ClassLib.Context

<ContextBoundary ContextRecord="ContextFacts.EditorContext"
                 ClassCssString="bte_editor-display"
                 StyleCssString="@EditorElementDimensions.StyleString">
    
    <button @onclick="() => { }"
            style="height: 3.5rem;">
        Rerender
    </button>
    
    <BlazorTextEditor.RazorLib.TextEditor.TextEditorDisplay TextEditorKey="TextEditorStatesWrap.Value.TextEditorList.Last().Key"/>    
</ContextBoundary>