@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorTextEditor.RazorLib.OutOfBoundsClick

@if (ShouldDisplay)
{
    <OutOfBoundsClickDisplay ZIndex="15"
                             OnClickCallback="ClearAllActiveDropdownKeys" />
    
    <div class="bte_dropdown-display"
         @onclick:stopPropagation="true"
         style="@DropdownPositionKindStyleCss">
    	@ChildContent
    </div>
}