.bte_text-editor {
}

.bte_method {
    color: red;
}

.bte_measure-character-width-and-row-height {
    top: 0;
    left: 0;
    visibility: hidden;
}

.bte_row {
    white-space: nowrap;
    position: absolute;
    display: flex;
}

.bte_gutter {
    white-space: nowrap;
    position: absolute;
    display: flex;
}

.bte_text-editor-content {
    position: relative;
    display: flex;
    overflow: auto;
    height: 400px;
    font-family: monospace;
    margin: 5px;
}

.bte_text-editor-cursor {
    position: absolute;
    width: 1.5px;
    display: inline-block;
    background-color: black;
    margin: 0;
    padding: 0;
    outline: none !important;
    resize: none;
    border: none;
    overflow: hidden;
}

.bte_text-editor-caret-row {
    border: 1.5px solid red;
    position: absolute;
    left: 0;
    width: 100%;
}

.bte_blink {
    animation: bte_blink-animation 1s infinite;
}

@keyframes bte_blink-animation {
    0% {opacity: 0}
    49%{opacity: 0}
    50% {opacity: 1}
}

.bte_text-selection {
    background-color: #ADD6FF;
    position: absolute;
}

.bte_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bte_main-layout {
    font-size: 24px;
}

.bte_dialog-display {
    z-index: 10;
    background-color: rgb(252, 252, 245);
    box-shadow: 0px 0px 2px #000000;
}

.bte_dialog-display-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(192, 214, 247);
}

.bte_dialog-display-buttons {
    display: flex;
    align-items: center;
}

.bte_dialog-display-button-entry {
    margin-right: 5px;
    padding: 3px;
    display: inline-flex;
    height: fit-content;
}

.bte_dialog-display-button-entry:hover {
    background-color: orange;
}

.bte_resize-handle-north {
    cursor: n-resize;
}

.bte_resize-handle-east {
    cursor: e-resize;
}

.bte_resize-handle-south {
    cursor: s-resize;
}

.bte_resize-handle-west {
    cursor: w-resize;
}

.bte_resize-handle-north-east {
    cursor: ne-resize;
}

.bte_resize-handle-south-east {
    cursor: se-resize;
}

.bte_resize-handle-south-west {
    cursor: sw-resize;
}

.bte_resize-handle-north-west {
    cursor: nw-resize;
}

.bte_drag-display {
    z-index: 30;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}