.bte_method {
    color: red;
}

.bte_measure-character-width-and-row-height {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.bte_row {
    white-space: nowrap;
}

.bte_text-editor-content {
    position: relative;
}

.bte_text-editor-cursor {
    position: absolute;
}