<div class="bte_dialog-display"
     style="@StyleCssString">
    @if (DialogRecord.IsResizable)
    {
        <BlazorTextEditor.RazorLib.ResizableCase.ResizableDisplay @ref="_resizableDisplay" 
                                                                  ElementDimensions="DialogRecord.ElementDimensions"
                                                                  ReRenderFuncAsync="ReRenderAsync"/>
    }
    
    <div class="bte_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandle">
        <div class="bte_dialog-display-title">
            @DialogRecord.Title
        </div>

        <div class="bte_dialog-display-buttons">
            <div class="bte_dialog-display-button-entry">
                <IconMinimize/>
            </div>

            <div class="bte_dialog-display-button-entry">
                <IconMaximize/>
            </div>

            <div class="bte_dialog-display-button-entry">
                <IconClose/>
            </div>
        </div>
    </div>

    <div class="bte_dialog-display-body">
        <CascadingValue Value="DialogRecord">
            <DynamicComponent @key="DialogRecord.DialogKey"
                              Type="DialogRecord.RendererType"
                              Parameters="DialogRecord.Parameters"/>
        </CascadingValue>
    </div>
</div>

